* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    padding: 50px 200px;
    background-color: #050823;

}
.header{
    margin: 50px 0px 0px 50px;

}
.back-main{
    margin-left: 5px;
}
.back-main i{
    position: relative;
    right: 0px;
    margin-right: 8px;
    color: rgb(66, 176, 219);
}

.back-main a{
    color: rgb(66, 176, 219);
    text-decoration: none;
    font-size: 1em;
}

.header h1{
    color: #ccd6f6;
    font-size: 3em;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 50px;

}

th, td {
    text-align: left;
    padding: 20px 0px 25px 0px ;
    border-bottom: 1px solid #8892b02f;
    color: #8892b0;
}
th, td:nth-child(2) {
    font-weight: 700;
    color: #ccd6f6;
}
td a{
    color: #8892b0;
    text-decoration: none;
    font-weight: 500;
}
a:hover{
    color: rgb(66, 176, 219);
}

span{
    color: hsl(230, 30%, 80%);
    font-weight: 400;
    background-color: #1a2a4e;
    margin-right: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    text-align: center;
    font-size: .9em;
    font-weight: 500;

}
th {
    color: #ccd6f6;
    font-weight: 550;
    padding: 20px 0px;
}
@media screen and (max-width: 800px){
    body{
        padding: 20px 20px;
        background-color: #050823;
    
    }
    .header{
        margin: 0px 0px 0px 0px;
    
    }
    .back-main{
        margin-left: 5px;
    }
    .back-main i{
        position: relative;
        right: 0px;
        margin-right: 8px;
        color: rgb(66, 176, 219);
        font-size: .7em;
    }
    
    .back-main a{
        color: rgb(66, 176, 219);
        text-decoration: none;
        font-size: .8em;
    }
    
    .header h1{
        color: #ccd6f6;
        font-size: 1.5em;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        margin-left: 0px;
    
    }
    
    th, td {
        text-align: left;
        padding: 10px 0px 15px 0px ;
        border-bottom: 1px solid #8892b02f;
        color: #8892b0;
        font-size: .8em;

    }
    th, td:nth-child(2) {
        font-weight: 700;
        color: #ccd6f6;
    }
    td a{
        color: #8892b0;
        text-decoration: none;
        font-weight: 500;
    }
    a:hover{
        color: rgb(66, 176, 219);
    }
    
    span{
        color: hsl(230, 30%, 80%);
        font-weight: 400;
        background-color: #1a2a4e;
        margin-right: 5px;
        padding: 5px 15px;
        border-radius: 20px;
        text-align: center;
        font-size: .75em;
        font-weight: 500;
    
    }
    th {
        color: #ccd6f6;
        font-weight: 550;
        padding: 20px 0px;
    }
}
/* max width 600px */
@media screen and (max-width: 600px){
    body{
        padding: 50px 0px;
        background-color: #050823;
    
    }
    .header{
        margin: 20px;
    
    }
    .back-main{
        margin-left: 0px;
    }
    .back-main i{
        position: relative;
        right: 0px;
        margin-right: 8px;
        color: rgb(66, 176, 219);
        font-size: .8em;
    }
    
    .back-main a{
        position: relative;
        color: rgb(66, 176, 219);
        text-decoration: none;
        font-size: 1em;
        font-weight: 550;
    }
    
    .header h1{
        color:#ccd6f6;
        font-size: 1.8em;
    }
    
    table {
        border-collapse: collapse;
        width: 90%;
        margin-left: 20px;
    
    }
    
    th, td {
        text-align: left;
        padding: 20px 0px 20px 0px ;
        border-bottom: 1px solid #8892b02f;
        color: #8892b0;
    }
    th:first-child {
        padding-left: 0px;
    }
    th:nth-child(3) {
        display: none;
    }
    th:nth-child(4) {
        display: none;
    }
    th:nth-child(5) {
        display: none;
    }
    td:first-child {
        font-size: .9em;
        padding-right: 10px;
    }
    td:nth-child(2) {
        font-weight: 500;
        color: #ccd6f6;
        font-size: 1em;
        width: 80%;
    }
    td:nth-child(3) {
        display: none;
    }
    td:nth-child(4) {
        display: none;
    }
    td:nth-child(5) {
        display: none;
    }
    
}
